@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf');
}


.hover-glow:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

html,
body {
  scroll-behavior: smooth;
}

.icon-linkedin:hover,
.icon-github:hover,
.icon-resume:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

